* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

html,
body {
  font-family: Roboto;
}

header .container {
  margin: auto;
  width: 1750px;
  display: flex;
  justify-content: space-between;
}

.links .link {
  margin: 5px 0 0 32px;
  color: #1D2130;
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.7s;
}

.links {
  display: flex;
  margin: 24px 0 24px 0;
}

.logo img {
  margin: 18px 0 21.65px 0;
}


.links .link::after {
  display: block;
  content: "";
  width: 0%;
  border-radius: 30px;
  margin-top: 2px;
  margin-inline: auto;
  height: 3px;
  background-color: #000;
  transition: 0.5s;
}

.links .link:hover::after {
  width: 65%;
}

.links .Tf-btn {
  margin: 0 0 0 30px;
  border-radius: 16px;
  padding: 16px 40px;
  font-weight: 700;
  font-size: 16px;
  width: 144px;
  height: 56px;
  display: inline-block;
  color: #fff;
  background-color: #1D2130;
  transition: 0.7s;
  border: #1D2130 1px solid;
}

.links .Tf-btn:hover {
  background-color: #fff;
  color: #1D2130;
}

.sc-part1 h1 {
  width: 768px;
  height: 124px;
  font-weight: 700;
  font-size: 56px;
  line-height: 61.6px;
  color: #1D2130;
  text-align: center;
}

.sc-part1 p {
  width: 768px;
  height: 54px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #1D2130;
  text-align: center;
  margin: 32px 0 48px 0;
}

.form {
  position: relative;
  margin: 0 0 64px 0;
}

.form input {
  width: 576px;
  height: 72px;
  border-radius: 20px;
  border: 1px solid grey;
}

.form ::placeholder {
  font-size: 20px;
  display: inline-block;
  padding: 24px 0 24px 24px;
}

.form a {
  position: absolute;
  width: 176px;
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 16px 40px;
  background-color: #1D2130;
  color: #fff;
  border-radius: 12px;
  left: 393px;
  top: 8px;
  transition: 0.7s;
  border: 1px solid #1D2130;

}

.form a:hover {
  background-color: #fff;
  color: #1D2130;
}

.sc-part1 {
  background-image: url(../image/Blur\ Gradient.png);
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: 96px 0 0 0;
  margin-inline: auto;
}

.sc-part2 h3 {
  background: -webkit-linear-gradient(53.94deg, #373FFF 15.02%, #3ACAF8 82.83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 133px;
  height: 29px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.sc-part2 h2 {
  width: 579px;
  height: 116px;
  font-weight: 700;
  font-size: 48px;
  color: #1D2130;
  line-height: 57.6px;
  text-align: center;
  margin: 24px 0 48px 0;
}

.sc-part2 .title {
  justify-content: center;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  margin: 128.43px 0 0 0;
  margin-inline: auto;
}

.sc-part3 h2 {
  width: 362px;
  height: 76px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  color: #1D2130;
}

.sc-part3 p {
  width: 362px;
  height: 42px;
  opacity: 87%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1D2130;
}

.sc-part3 {
  width: 1580px;
  height: 344px;
  display: flex;
  background: #E0E4FC;
  margin: auto;
  border-radius: 24px;
}

.box1 {
  margin: 90px 32px 64px 240px;
  width: 362px;
  height: 216px;
}

.box2 {
  margin: 90px 32px 64px 0;
  width: 362px;
  height: 216px;
}

.box3 {
  margin: 90px 0 68px 0;
  width: 362px;
  height: 216px;
}

.sc-part4 h3 {
  background: -webkit-linear-gradient(53.94deg, #373FFF 15.02%, #3ACAF8 82.83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
}

.sc-part4 h2 {
  width: 576px;
  height: 116px;
  font-weight: 700;
  font-size: 48px;
  color: #1D2130;
  line-height: 57.6px;
  margin: 24px 0 32px 0;
}

.sc-part4 p {
  width: 576px;
  height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1D2130;
}

.descraption1 {
  margin: 0 0 0 81px;
}

.descraption2 {
  padding: 13px 0 0 0;
  display: flex;
}

.descraption2 p {
  width: 504px;
  height: 60px;
  font-weight: 500;
  font-size: 20px;
  margin: 0px 0 0 24px;
  padding: 6px 0 0 0;
}

.descraption2 img {
  width: 48px;
  height: 48px;
}

.sc-part4 {
  gap: 110px;
  display: flex;
  margin: 128px 0 0 200px;
}

.sc-part4 .main-box {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}


.sc-part5 h2 {
  width: 576px;
  height: 116px;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
}

.sc-part5 p {
  width: 576px;
  height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.sc-part5 a {
  font-weight: 700;
  font-size: 16px;
  padding: 16px 40px;
  color: #fff;
  background-color: #1D2130;
  border-radius: 12px;
  margin-top: 10px;
  transition: 0.7s;
  border: 1px solid #1D2130;
}


.sc-part5 .container {
  width: 1750px;
  display: flex;
  justify-content: space-evenly;
  margin-inline: auto;
  margin-right: 160px;
}

.sc-part5 img {
  width: 576px;
  height: 435px;
}

.sc-part5 {
  margin: 128px 0 0 0;
  width: 100%;
  height: 563px;
  background-image: url(../image/Blur\ Gradient\ \(1\).png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sc-part5 .descraption {
  padding-top: 142px;
}

.sc-part5 p {
  margin: 24px 0 32px 0;
}

.sc-part5 img {
  margin: 64px 0 0;
}

.sc-part5 a:hover {
  color: #1D2130;
  background-color: #fff;
}

.sc-part6 {
  margin: 64px 0 0 0;
  display: flex;
  justify-content: space-evenly;
}

.sc-part7 .descraption1 h3 {
  background: -webkit-linear-gradient(53.94deg, #373FFF 15.02%, #3ACAF8 82.83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 24px;
}

.sc-part7 h2 {
  width: 576px;
  height: 116px;
  font-weight: 700;
  font-size: 48px;
  color: #1D2130;
  margin: 24px 0 32px 0;
}

.sc-part7 p {
  width: 576px;
  height: 72px;
  font-weight: 400;
  font-size: 16px;
}

.sc-part7 .descraption2 {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.sc-part7 .main-box {
  display: flex;
}

.sc-part7 {
  display: flex;
  justify-content: center;
  margin: 128px 0 0 270px;
}

.sc-part7 .boxes {
  display: flex;
  flex-wrap: wrap;
}

.sc-part7 .descraption1 {
  margin-right: 88px;
}

.sc-part7 .descraption2 h3 {
  margin: 0 0 0 23px;
}

.sc-part8 h2 {
  display: flex;
  font-weight: 700;
  font-size: 48px;
  justify-content: center;
  margin: 0 0 48px 0;
}

.sc-part8 h3 {
  width: 339px;
  height: 86px;
  font-weight: 700;
  font-size: 36px;
}

.sc-part8 p {
  width: 339px;
  height: 81px;
  font-weight: 400;
  font-size: 18px;
}

.sc-part8 .box {
  padding: 0 20px 0 0;
  width: 339px;
  height: 263px;
  border-right: 1px solid #CDC7D2;
  margin: 64px 0 0 0;
}

.sc-part8 .box5 {
  width: 339px;
  height: 263px;
  margin: 64px 0 0 0;
}

.sc-part8 img {
  width: 56px;
  height: 56px;
}

.sc-part8 .main-boxs {
  width: 1280px;
  height: 391px;
  display: flex;
  justify-content: space-around;
  background-color: #D798E126;
  border-radius: 24px;
  margin: auto;
}

.sc-part8 {
  margin: 128px 0 0 0;
}

.sc-part9 h2 {
  width: 628px;
  height: 116px;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin: auto;
}

.sc-part9 p {
  width: 283px;
  height: 135px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

.sc-part9 .box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc-part9 h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc-part9 img {
  display: flex;
  justify-content: center;
}